footer {
  // background: url("../../../assets//images/footer.jpeg") no-repeat fixed;
  height: auto;
  padding: 150px 0px 20px;
  color: white;
  position: relative;
  background: #5e7f4c;
  .container {
    padding: 0px 0px;
    img {
      width: 60%;
    }
    p {
      color: white;
      margin-bottom: 0px;
      font-size: 16px;
      line-height: 24px;
      img {
        height: 24px;
        width: auto;
        margin-left:5px;display: inline-block;
      }
    }
  }
  hr {
    margin-top: 30px !important;
    border-color: rgb(255 255 255 / 70%);
  }
  .right-text {
    margin-top: 20px;
    font-size: 16px;
  }
  .bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin: 0px;
    }
    ul{
      padding: 0px;
      list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
      li{
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
footer{ 
  .container p, .container span{
  text-align: center;
  display: block;
  margin-top: 30px;
}
.bottom-footer{
  flex-direction: column;
}
img{
  display: block;
  text-align: center;
}}}