.popUp {
  position: fixed;
  z-index: 99;
  margin: auto;
  width: 100%;height: 100%;
  top: 0px;
  left: 0px;
  background: #0000004a;
  padding-top: 10%;

  .content {
    background: white;
    width: 40%;
    padding: 50px 20px 30px;
    overflow-y: auto;
    color: black;
    margin: auto;
    text-align: right;
    border-radius: 20px;
    text-align: center;
  h3 {
      font-size: 29px !important;
    font-weight: 500;
    }
    p{
      color: rgba(0, 0, 0, 0.815);
    }
    button{
        background: #5e7f4c;
        width: 100%;
        color: white;
    }
  }
}
