.header-slide{
  .swiper {
  width: 100%;
  height: 900px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 992px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
    top: 40px;
    width: 100%;
    transform: rotate(90deg);
    right: 73%;
    width: 100%;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    border-radius: 0px;
  }

  .swiper-pagination-bullet-active {
    background: white;
  }
}
.left-sec {
  position: relative;
  width: 100%;
  height: 100%;
  img {
    height: 100%;
  }
  .content {
    position: sticky;
    z-index: 99;
    bottom: 0px;
    right: 0px;
    background: white;
    width: 63%;
    min-height: 200px;
    padding: 30px;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    h3 {
      font-weight: 700;
      font-size: 40px;
    }
    p {
      text-align: start;
    }
  }
}
.row {
  height: 100%;
}
.right-sec {
  width: 100%;
  display: flex;
  height: 900px;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
  .content {
    //   display: flex;
    // flex-direction: column;
    // justify-content: center;
    // width: 100%;
    // height: 53.8%;
    // text-align: start;
    // margin:20% 0px;
    padding: 150px 35px 0px;
    text-align: start;
    h1 {
      word-break: keep-all;
      font-weight: 600;
      line-height: 1.5;
    }
  }
  .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media (max-width: 992px) {
  .row {
    justify-content: start;
    display: flex !important;
    flex-direction: column-reverse;
    top: 0px;
  }
  .right-sec,
  .left-sec {
    height: 400px;
    position: relative;
  }
  .right-sec .img img {
    height: 400px;
  }
  .left-sec .content,
  .right-sec .content {
    position: absolute;
    background: #ffffffcf;
    width: 100%;
    padding: 12px 12px;
    align-items: center;
    top: 0px;
    bottom: auto;
    box-shadow: 0px 0px 27px black;
    width: 90%;
    
  }
}
}body[dir="ltr"] {
.swiper {
   direction: rtl;
}.header-slide .row{
   direction: ltr;
}

}
